* {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url("./components/images/background.png");
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-color: #010137;
  
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
